.delete-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.delete-modal-box {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.delete-buttons {
  margin-top: 20px;
}

.btn-cancel {
  background-color: #dddddd;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-danger {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}